<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="七日, 个人, 知识管理, 维基, 百科, wiki" />

<title>七日知识管理系统</title>

<% include include/inhead %>
</head>
<body>
   
<div data-role="header">
    <h1>设 置</h1>
    <% if(visitor) { %>
        <a href="/page/<%= visitor.rootPageId %>" data-icon="home">首页</a>
    <% } %>
</div>
   
  <div data-role="content" class="jqm-content"> 

    <% if(visitor) { %>
        <!--<%= visitor.id %>-->
        <h2>当前用户</h2>
        <%=visitor.email %><br/>
        <br/>
        <a href="/page/<%= visitor.rootPageId %>" >我的首页</a>
        <br/>
        <a href="#" class="logout">退出</a>
    <% } else { %>
        <% include include/login %>
    <% } %>
  
  <h3>系统简介</h3>
  <div>
    <p>知识在于积累！七日知识管理系统是面向个人的知识管理系统，可以随时添加、编辑和查看你的页面，不断积累各方面知识。</p>
    <p>了解更多请查看：<a href="/page/51aed8e356beb4212b000002" title="七日知识管理系统">本系统介绍文档</a></p>
  </div>

  <a href="#" data-rel="back" data-role="button" data-icon="arrow-l" data-iconpos="left" data-inline="true">返回</a>

<% include include/content-footer %>
</div><!--/content-->

</body>
</html>
