<div class="jqm-footer">
    <p>七日知识管理系统<br/>qiri.com</p>
</div>

<div data-role="popup" id="popupBasic" class="ui-content" data-theme="a" data-overlay-theme="a">
    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">关闭</a>
    <p></p>
</div>

