.ui-header, .ui-bar-a
  background-image none
  background-color transparent
  text-shadow 0 0 0 #FFF
  color #000
  border 0
  .ui-title
    font-size 1.2em
    font-weight bold

.ui-footer, .ui-header a.ui-btn-icon-notext
  display none

.ui-body-c, .ui-overlay-c, .jqm-footer
  text-shadow 0 0 0 #FFF
